<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/about.css">
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 ">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none fs-5 text-light mx-2" >
          About this Website
        </a>
    
        
      </header>
  <div class="container">
    <ul>
      <li><strong>Project Name:</strong> <span style="color: #03103a;">BookSnap</span></li>
      <li><strong>Description:</strong> BookSnap is an intuitive book review platform that enables users to document and share their insights on books available in the Open Library. It provides a structured way to track and evaluate books based on key attributes.</li>
      <li><strong>Key Features:</strong>
        <ul>
          <li><strong>Seamless Book Integration:</strong> Fetches book cover images and details using the Open Library public API.</li>
          <li><strong>Comprehensive Review System:</strong> Users can add personalized reviews, offering valuable insights into their reading experience.</li>
          <li><strong>Detailed Book Attributes:</strong>
            <ul>
              <li><strong>Rating:</strong> Allows users to rate books based on their reading experience.</li>
              <li><strong>Review:</strong> Provides a platform for users to write in-depth critiques and analyses.</li>
              <li><strong>Genre Classification:</strong> Automatically categorizes books based on their genre for better discoverability.</li>
            </ul>
          </li>
          <li><strong>CRUD Functionality:</strong> Users can create, read, update, and delete book reviews as needed.</li>
          <li><strong>User-Friendly Interface:</strong> A clean and interactive UI ensures a seamless user experience for book enthusiasts.</li>
        </ul>
      </li>
    </ul>
  </div>
      
      
        
</body>
</html>