body{
    margin:0px;
    padding:0px;
    
}


header{
    background : linear-gradient(to right, #001F3F, #003366, #004080);
}



.content{
    display:flex;
    gap:7px;
    flex-direction: column;
}
.edit_button{
    width:300px;


}

.review {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.content {
    width: 60%;
}

.img {
    width: 35%;
    text-align: center;
}

.img img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 700px) {
    .review {
        flex-direction: column; 
        text-align: center;
    }

    .content {
        width: 100%;
    }

    .img {
        width: 100%;
    }
}
